<template>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <BaseLink class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" :to="{ path: '/' }">
            Optimy Articles
        </BaseLink>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <BaseButton btn-class="nav-link btn btn-link">
                    Sign out
                </BaseButton>
            </li>
        </ul>
    </nav>
</template>

<script>
export default {
    name: "DashboardHeader"
}
</script>
