<template>
    <nav id="sidebarMenu" class="col-md-2 col-lg-2 d-md-block bg-light sidebar collapse" style="">
        <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
                <li v-for="(item, key) in menu" :key="key" class="nav-item">
                    <BaseLink class="nav-link" :to="{ path: item.link }">
                        <i :class="`${item.icon} mr-2`"></i> {{ item.text }}
                    </BaseLink>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
export default {
    name: "DashboardSidebar",
    props: {
        menu: {
            type: Array,
            default: []
        }
    }
}
</script>
