<template>
    <div class="container-fluid">
        <div class="row">
            <DashboardSidebar :menu="menu" />
            <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-md-4">
                <slot name="content" />
            </main>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        menu: {
            type: Array,
            default: []
        }
    }
}
</script>
