<template>
    <div>
        <div class="d-flex justify-content-between flex-wrap mb-3 pt-3 pb-2">
            <BaseCard card-class="col-md-12" :card-title="cardTitle">
                <div slot="content">
                    <BaseInput
                        v-model="form.title"
                        form-class="form-group"
                        label="Title"
                        :error="getFormError('title')"
                    />
                    <BaseSelect
                        v-model="form.category"
                        label="Category"
                        :options="categories"
                        :error="getFormError('category')"
                    />
                    <BaseSelect
                        v-model="form.status"
                        label="Status"
                        :options="statuses"
                        :error="getFormError('status')"
                    />
                    <BaseTextArea
                        v-model="form.excerpt"
                        label="Excerpt"
                        :error="getFormError('excerpt')"
                    />
                    <BaseTextArea
                        v-model="form.content"
                        label="Content"
                        rows="10"
                        :error="getFormError('content')"
                    />
                    <BaseButton
                        class="btn btn-success"
                        @click="handleSave()"
                    >
                        Save
                    </BaseButton>
                </div>
            </BaseCard>
        </div>
    </div>
</template>

<script>
import {apiCategories, apiArticles} from "@api/admin";
import {formErrorHandlerMix} from "@mixins";

export default {
    name: "Form",

    mixins: [formErrorHandlerMix],

    data() {
        return {
            form: {
                title: '',
                content: '',
                category: 1,
                excerpt: '',
                status: 'draft'
            },
            categories: [],
            statuses: [
                {title: 'Draft', value: 'draft'},
                {title: 'Pending', value: 'pending'},
                {title: 'Approved', value: 'approved'},
            ]
        }
    },
    computed: {
        cardTitle() {
            const {id} = this.$route.params

            return id
                ? `Update Article ${this.form.title}`
                : 'Create Article'
        }
    },
    mounted() {
        this.loadCategories()
        this.loadArticle()
    },
    methods: {
        loadCategories() {
            return new Promise(resolve => {
                apiCategories.index().then(({data}) => {
                    this.categories = data.data.map(value => {
                        return {
                            ...this.categories,
                            title: value.name,
                            value: value.id
                        }
                    })
                    resolve(data.data)
                })
            })
        },
        loadArticle() {
            const {id} = this.$route.params

            if (!id) return

            apiArticles.show(id).then(({data}) => {
                this.form = {
                    ...data.data,
                    category: data.data.category && data.data.category.id
                }
            })
        },
        handleSave() {
            const {id} = this.$route.params

            if (id) {
                apiArticles.update(id, {...this.form}).then(() => {
                    this.$router.replace({path: `/admin/articles`})
                })

                return
            }

            apiArticles.store({...this.form}).then(() => {
                this.$router.replace({path: `/admin/articles`})
            }).catch((err) => {
                this.setFormErrors(err.response.data)
            })
        }
    }
}
</script>
