<template>
    <div>
        <div class="d-flex justify-content-between flex-wrap mb-3 pt-3 pb-2 border-bottom">
            <h1 class="h2">Articles</h1>
        </div>
        <div class="d-flex justify-content-between mb-2">
            <BaseLink class="btn btn-success" :to="{ path: `/admin/articles/create` }">
                <i class="fa fa-plus" /> Create New Article
            </BaseLink>
            <SearchInput
                @search="(value) => (addedParams.search = value)"
            />
        </div>
        <BaseVueTable
            ref="vuetable"
            api-url="/spa/admin/articles"
            :http-options="{ headers: { 'Authorization' : token } }"
            pagination-path="meta"
            :fields="fields"
            :append-params="addedParams"
            :per-page="15"
        >
            <template slot="created_at" slot-scope="props">
                {{ props.rowData.created_at | simpleDateTime }}
            </template>
            <template slot="table-actions" slot-scope="props">
                <div v-if="props.rowData.deleted_at">
                    <BaseButton
                        class="btn btn-success btn-sm"
                        @click="handleRestore(props.rowData)"
                    >
                        <i class="fa fa-check"></i>
                    </BaseButton>
                </div>
                <div v-else>
                    <BaseLink
                        class="btn btn-info btn-sm"
                        :to="{
                            path: `/admin/articles/${props.rowData.id}/edit`
                        }"
                    >
                        <i class="fa fa-pencil"></i>
                    </BaseLink>
                    <BaseButton
                        class="btn btn-danger btn-sm"
                        @click="handleDelete(props.rowData)"
                    >
                        <i class="fa fa-trash"></i>
                    </BaseButton>
                </div>
            </template>
        </BaseVueTable>
    </div>
</template>

<script>
import {apiArticles} from "@api/admin";
import {dateFormatMix} from "@mixins";
import { mapGetters } from "vuex"
import BaseLink from "../../../components/Link/BaseLink";

export default {
    name: "List",
    components: {BaseLink},
    mixins: [dateFormatMix],
    data() {
        return {
            fields: [
                {
                    name: 'id',
                    title: 'ID',
                    sortField: 'id'
                },
                {
                    name: 'title',
                    title: 'Title',
                    sortField: 'title'
                },
                {
                    name: 'creator.full_name',
                    title: 'Creator'
                },
                {
                    name: 'category.name',
                    title: 'Category'
                },
                {
                    name: 'status',
                    title: 'Status',
                    sortField: 'status',
                    dataClass: 'text-capitalize'
                },
                {
                    name: 'created_at',
                    title: 'Created At',
                    sortField: 'created_at'
                },
                {
                    name: 'table-actions',
                    title: 'Actions',
                    titleClass: 'text-center',
                    dataClass: 'text-center'
                }
            ],

            addedParams: {
                search: ''
            },

            selectedArticle: {}
        }
    },
    computed: {
      ...mapGetters({
          token: `user/token`
      })
    },
    watch: {
        addedParams: {
            handler: _.debounce(function () {
                this.$refs.vuetable.refresh()
            }, 300),

            deep: true
        }
    },

    methods: {
        handleDelete(article) {
            apiArticles.destroy(article.id).then(() => {
                this.$refs.vuetable.refresh()
            })
        },
        handleRestore(article) {
            apiArticles.restore(article.id).then(() => {
                this.$refs.vuetable.refresh()
            })
        },
    }
}
</script>
