<template>
    <div>
        <header class="site-header py-3 mb-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-md-4">&nbsp;</div>
                <div class="col-md-4 text-center">
                    <BaseLink
                        class="text-dark text-header"
                        :to="{path: `/`}"
                    >
                        Optimy Articles
                    </BaseLink>
                </div>
                <div class="col-md-4 d-flex justify-content-end align-item-center">
                    <div v-if="auth" class="btn-group">
                        <button type="button" class="btn btn-link text-decoration-none text-dark" data-toggle="dropdown" aria-expanded="false">
                            Hi, {{ user && user.full_name }} <i class="fa-solid fa-chevron-down fa-xs"></i>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <BaseLink
                                    class="dropdown-item"
                                    :to="{path: `/${role}/articles`}"
                                >
                                    Dashboard
                                </BaseLink>
                                <BaseLink
                                    class="dropdown-item"
                                    :to="{path: `/logout`}"
                                >
                                    Logout
                                </BaseLink>
                            </div>
                        </button>
                    </div>
                    <BaseLink
                        v-else
                        class="btn btn-sm btn-outline-secondary"
                        :to="{path: `/login`}"
                    >
                        Login
                    </BaseLink>
                </div>
            </div>
        </header>
    </div>
</template>

<script>
import { mapGetters } from "vuex"

export default {
    name: "BaseHeader",
    computed: {
        ...mapGetters({
            auth: `user/auth`,
            role: `user/role`,
            user: `user/details`
        })
    }
}
</script>
