.article-title {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

.article-meta {
    margin-bottom: 1.25rem;
    color: #727272;
}
