.site-header {
    line-height: 1px;
    border-bottom: 1px solid #e5e5e5;

    .text-header {
        font-family: "Playfair Display", Georgia, "Times New Roman", serif;
        font-size: 2.25rem;

        &:hover {
            color: #121416;
        }
    }
}

.hero-banner {
    img {
        width: 100%;
        height: 400px;
    }
}
