@import "vuepagination";

.vuetable-wrapper {
    position: relative;

    & .loader {
        display: none;
    }
    &.loading .loader {
        display: initial;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
        width: 100%;
        float: left;
        height: 100%;
        background: #ffffffbf;
        opacity: 1;

        & i {
            position: absolute;
            bottom: 45%;
            margin: auto;
        }
    }

    & .vuetable {
        & .header-vertical {
            padding-top: 40px;
            white-space: normal;
            position: relative;
            & > span {
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                line-height: normal !important;
            }
            & .sort-icon {
                float: none !important;
                position: absolute !important;
                top: 10px;
                left: 50%;
            }
        }
        &.header-align-bottom th {
            white-space: nowrap;
            vertical-align: bottom !important;
        }
        &.table-striped tbody tr:nth-of-type(odd) {
            background-color: #F8F9FAFF;
        }
        &.table-bordered th,
        &.table-bordered td {
            border-color: #6C757DFF;
        }
        & tr th,
        & .vuetable-body tr td {
            padding: 0.3rem;
            vertical-align: middle;
        }
        &.table-lg {
            & tr th,
            & .vuetable-body tr td{
                padding: 0.5rem;
            }
            &.pads-2 th,
            &.pads-2 td {
                padding-left: 15px !important;
                padding-right: 15px !important;
            }
        }
        & th.wrap-text,
        & td.wrap-text {
            white-space: inherit;
        }
        &.table-border-none td,
        &.table-border-none th {
            border: none;
        }
        &.w-initial {
            width: initial;
        }
    }

    & .vuetable-th-gutter {
        display: none;
    }
}
