.pagination {
    justify-content: space-between;

    & .showing {
        line-height: 28px;
        font-size: 12px;
        color: #6C757DFF;

        & .item {
            font-weight: 600;
        }
    }

    & .page-item.active .page-link {
        background-color: #fff;
        border-color: #000;
        color: #000;
    }

    & .page-item .page-link {
        border-radius: 0;
        color: #6C757DFF;

        &:focus {
            box-shadow: none;
        }
    }
}
