<template>
    <div class="container">
        <BaseHeader />
        <h3 class="pb-4 fst-italic">
            Related Article for {{ category.name }}
        </h3>
        <div class="row">
            <div v-for="(article, key) in category.articles" :key="key" class="col-md-6">
                <ArticleCard
                    :slug="article.slug"
                    :title="article.title"
                    :datetime="article.created_at"
                    :excerpt="article.excerpt"
                    :has-image="true"
                />
            </div>
        </div>
    </div>
</template>

<script>
import {apiCategories} from "@api";

export default {
    name: "Category",
    data() {
        return {
            category: {}
        }
    },
    mounted() {
        this.loadCategory()
    },
    methods: {
        loadCategory() {
            const {id} = this.$route.params

            if(!id) return

            apiCategories.show(id).then(({ data }) => {
                this.category = data.data
            })
        }
    }
}
</script>
