<template>
    <div class="container">
        <BaseHeader/>
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
                <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and
                    efficiently about what’s most interesting in this post’s contents.</p>
                <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-10">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    Latest Articles
                </h3>
                <div class="row">
                    <div v-for="(article, key) in articles" :key="key" class="col-md-6">
                        <ArticleCard
                            :slug="article.slug"
                            :category="article.category.name"
                            :title="article.title"
                            :datetime="article.created_at"
                            :excerpt="article.excerpt"
                            :has-image="true"
                        />
                    </div>
                </div>
                <div class="text-center mb-3">
                    <BaseLink :to="{ path: `/articles` }">Show More</BaseLink>
                </div>
            </div>
            <div class="col-md-2">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4">
                        <h4 class="fst-italic">Categories</h4>
                        <ol class="list-unstyled">
                            <li v-for="(category, key) in categories" :key="key">
                                <a :href="`/categories/${category.slug}`">{{ category.name }}</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {apiArticles, apiCategories} from '@api'

export default {
    name: "Home",
    data() {
        return {
            articles: [],
            categories: []
        }
    },
    mounted() {
        this.loadArticles()
        this.loadCategories()
    },
    methods: {
        loadArticles() {
            apiArticles.index({
                params: {
                    sort: "id|desc"
                }
            }).then(({data}) => {
                this.articles = data.data.slice(0, 6)
            })
        },
        loadCategories() {
            apiCategories.index().then(({data}) => {
                this.categories = data.data
            })
        }
    }
}
</script>
