<template>
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static article-card">
            <strong class="d-inline-block mb-2 text-primary">{{ category }}</strong>
            <h3 class="card-title mb-0">{{ title }}</h3>
            <div class="card-date mb-1 text-muted">{{ datetime | shortDate }}</div>
            <p class="card-excerpt mb-auto">{{ excerpt }}</p>
            <BaseLink
                class="stretched-link mt-3"
                :to="{path: `/articles/${slug}`}"
            >
                Continue Reading
            </BaseLink>
        </div>
        <div v-if="hasImage" class="col-auto d-none d-lg-block">
            <img :src="featureImage"/>
        </div>
    </div>
</template>

<script>
import {dateFormatMix} from "@mixins";
import BaseLink from "../Link/BaseLink";

export default {
    name: "BaseCard",
    components: {BaseLink},
    mixins: [dateFormatMix],
    props: {
        slug: {
            type: String,
            default: ''
        },
        category: {
            type: String,
            default: ''
        },
        title: {
            type: String,
            default: ''
        },
        datetime: {
            type: String,
            default: ''
        },
        excerpt: {
            type: String,
            default: ''
        },
        hasImage: {
            type: Boolean,
            default: false
        },
        featureImage: {
            type: String,
            default: 'https://via.placeholder.com/200x250.png'
        }
    }
}
</script>
