<template>
    <div :class="`card ${cardClass}`">
        <div class="card-body">
            <h5 class="card-title mb-4">{{ cardTitle }}</h5>
            <slot name="content"></slot>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        cardTitle: {
            type: String,
            default: ''
        },
        cardClass: {
            type: String,
            default: 'col-md-6'
        }
    }
}
</script>
