<template>
    <div class="container">
        <BaseHeader/>
        <div class="hero-banner mb-4">
            <img src="https://via.placeholder.com/1200x400.png"/>
        </div>
        <div class="article-info">
            <h2 class="article-title">{{ article.title }}</h2>
            <p class="article-meta">{{ article.created_at | simpleDate }}</p>
            <p>{{ article.content }}</p>
        </div>
        <h3 class="pb-4 mb-4 fst-italic border-bottom">
            Related Articles
        </h3>
        <div class="row">
            <div v-for="(article, key) in relatedArticles" :key="key" class="col-md-3">
                <ArticleCard
                    :slug="article.slug"
                    :category="article.category.name"
                    :title="article.title"
                    :datetime="article.created_at"
                    :excerpt="article.excerpt"
                    :has-image="false"
                />
            </div>
        </div>
    </div>
</template>

<script>
import {apiArticles} from "@api";
import {dateFormatMix} from "@mixins";

export default {
    name: "Article",
    mixins: [dateFormatMix],
    data() {
        return {
            relatedArticles: [],
            article: {}
        }
    },
    watch: {
      '$route.params.id': {
          handler () {
              this.loadResources()
          }
      }
    },
    mounted() {
        this.loadResources()
    },
    methods: {
        loadResources() {
            this.loadArticle().then(() => {
                this.loadRelatedArticles()
            })
        },
        loadArticle() {
            const {id} = this.$route.params

            if (!id) return

            return apiArticles.show(id).then(({data}) => {
                this.article = data.data
            })
        },
        loadRelatedArticles() {
            apiArticles.index().then(({data}) => {
                this.relatedArticles = data.data.filter((article) =>
                    article.category.slug === this.article.category.slug &&
                    article.slug !== this.article.slug
                )
            })
        }
    }
}
</script>
