<template>
    <div class="container">
        <BaseHeader />
        <h3 class="pb-4 fst-italic">
            Available Articles
        </h3>
        <div class="row">
            <div v-for="(article, key) in articles" :key="key" class="col-md-4">
                <ArticleCard
                    :slug="article.slug"
                    :category="article.category.name"
                    :title="article.title"
                    :datetime="article.created_at"
                    :excerpt="article.excerpt"
                    :has-image="false"
                />
            </div>
        </div>
    </div>
</template>

<script>
import {apiArticles} from "@api";
import BaseHeader from "../../components/Header/BaseHeader";

export default {
    name: "List",
    components: {BaseHeader},
    data() {
        return {
            articles: []
        }
    },
    mounted() {
        this.loadArticles()
    },
    methods: {
        loadArticles() {
            apiArticles.index().then(({data}) => {
                this.articles = data.data
            })
        }
    }
}
</script>

<style scoped>

</style>
