<template>
    <div>
        <DashboardHeader />
        <DashboardContainerFluid :menu="menu">
            <div slot="content">
                <router-view />
            </div>
        </DashboardContainerFluid>
    </div>
</template>

<script>
export default {
    name: "Dashboard",
    data() {
        return {
            menu: [
                {
                    link: '/admin/articles',
                    icon: 'fa-regular fa-newspaper',
                    text: 'Articles'
                },
                {
                    link: '/admin/categories',
                    icon: 'fa-solid fa-arrow-down-short-wide',
                    text: 'Categories'
                },
                {
                    link: '/admin/users',
                    icon: 'fa-solid fa-user-group',
                    text: 'Users'
                }
            ]
        }
    }
}
</script>
