<template>
    <div :class="`checkbox ${formContainer}`">
        <label>
            <input
                :class="inputClass"
                type="checkbox"
                :value="value"
                :checked="isSelected"
                v-bind="$attrs"
                v-on="$listeners"
                @change="$emit('checked', $event.target.checked)"
            /> {{ label }}
        </label>
    </div>
</template>

<script>
export default {
    props: {
        value: {
          type: [String, Number, Boolean],
          default: ''
        },
        label: {
            type: String,
            default: ''
        },
        formContainer: {
            type: String,
            default: ''
        },
        inputClass: {
            type: String,
            default: ''
        },
        isSelected: {
            type: Boolean,
            default: false
        }
    }
}
</script>
