<template>
    <div :class="formClass">
        <label :class="labelClass">{{ label }}</label>
        <input
            :class="inputClass"
            :value="value"
            v-bind="$attrs"
            @input="$emit('update', $event.target.value)"
            v-on="$listeners"
        >
        <small v-if="error.length > 0" :class="errorClass">{{ error }}</small>
    </div>
</template>

<script>
export default {
    model: {
      event: 'update'
    },
    props: {
        label: {
            type: String,
            default: ''
        },
        formClass: {
            type: String,
            default: ''
        },
        labelClass: {
            type: String,
            default: ''
        },
        inputClass: {
            type: String,
            default: 'form-control'
        },
        value: {
            type: [String, Number, Boolean],
            default: ''
        },
        error: {
            type: String,
            default: ''
        },
        errorClass: {
            type: String,
            default: 'form-text text-danger text-right mt-0'
        }
    }
}
</script>

<style scoped>

</style>
