<template>
    <div :class="formClass">
        <label :class="labelClass">{{ label }}</label>
        <select
            v-bind="$attrs"
            class="form-control"
            @change="$emit('update', $event.target.value)"
            v-on="$listeners"
        >
            <option
                v-for="(option, key) in options"
                :key="key"
                :value="option.value"
            >{{ option.title }}</option>
        </select>
        <small v-if="error.length > 0" :class="errorClass">{{ error }}</small>
    </div>
</template>

<script>
export default {
    model: {
      event: 'update'
    },
    props: {
        options: {
            type: Array,
            default: [],
            required: true
        },
        label: {
            type: String,
            default: ''
        },
        formClass: {
            type: String,
            default: 'form-group'
        },
        labelClass: {
            type: String,
            default: ''
        },
        inputClass: {
            type: String,
            default: 'form-control'
        },
        error: {
            type: String,
            default: ''
        },
        errorClass: {
            type: String,
            default: 'form-text text-danger text-right mt-0'
        }
    }
}
</script>

<style scoped>

</style>
