<template>
    <div class="d-flex">
        <div :class="`input-group flex-nowrap ml-auto ${formClass}`">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-magnifying-glass"></i></span>
            </div>
            <input
                :class="inputClass"
                :value="value"
                :placeholder="placeholder"
                v-bind="$attrs"
                @input="$emit('search', $event.target.value)"
                v-on="$listeners"
            >
        </div>
    </div>
</template>

<script>
export default {
    model: {
        event: 'search'
    },
    props: {
        label: {
            type: String,
            default: ''
        },
        placeholder: {
            type: String,
            default: 'Search'
        },
        inputClass: {
            type: String,
            default: 'form-control'
        },
        formClass: {
            type: String,
            default: ''
        },
        value: {
            type: [String, Number, Boolean],
            default: ''
        }
    }
}
</script>
