<template>
    <div class="pagination">
    <span class="showing">
      <VuetablePaginationInfo
          ref="paginationInfo"
          :info-template="infoTemplate"
      />
    </span>

        <ul class="pagination m-0">
            <li class="page-item" :class="{ disabled: isOnFirstPage }">
                <a
                    href=""
                    class="page-link btn btn-sm"
                    @click.prevent="loadPage('prev')"
                >
                    <span>Previous</span>
                </a>
            </li>

            <template v-if="notEnoughPages">
                <li
                    v-for="(n, key) in totalPage"
                    :key="key"
                    class="page-item"
                    :class="{ active: isCurrentPage(n) }"
                >
                    <a
                        class="page-link btn btn-sm"
                        @click.prevent="loadPage(n)"
                        v-html="n"
                    />
                </li>
            </template>

            <template v-else>
                <li
                    v-for="(n, key) in windowSize"
                    :key="key"
                    class="page-item"
                    :class="{ active: isCurrentPage(windowStart + n - 1) }"
                >
                    <a
                        class="page-link btn btn-sm"
                        @click.prevent="loadPage(windowStart + n - 1)"
                        v-html="windowStart + n - 1"
                    />
                </li>
            </template>

            <li class="page-item" :class="{ disabled: isOnLastPage }">
                <a
                    href=""
                    class="page-link btn btn-sm"
                    @click.prevent="loadPage('next')"
                >
                    <span>Next</span>
                </a>
            </li>
        </ul>
    </div>
</template>

<script>
import { VuetablePaginationInfo, VuetablePaginationMixin } from 'vuetable-2'

export default {
    components: {
        VuetablePaginationInfo
    },
    mixins: [VuetablePaginationMixin],

    data () {
        return {
            infoTemplate: 'Showing {from} to {to} of {total} items'
        }
    },

    methods: {
        setPaginationData (tablePagination) {
            this.tablePagination = tablePagination
            this.$refs.paginationInfo.setPaginationData(tablePagination)
        }
    }
}
</script>
