<template>
    <div class="login-container">
        <div class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Log in</h1>
            <small v-if="isInvalid" class="form-text text-danger text-center mb-1">{{ message }}</small>
            <BaseInput
                v-model="form.email"
                type="email"
                label="Email Address"
                label-class="sr-only"
                placeholder="Email Address"
                required=""
                :error="getFormError('email')"
            />
            <BaseInput
                v-model="form.password"
                input-class="form-control mb-0"
                type="password"
                label="Password"
                label-class="sr-only"
                placeholder="Password"
                required=""
                :error="getFormError('password')"
            />
            <div class="text-center">
                <BaseButton
                    class="btn btn-lg btn-primary btn-block mb-3 mt-3"
                    @click="handleLogin"
                >
                    Sign In
                </BaseButton>
                <BaseLink :to="{ path: `/` }">Go back</BaseLink>
            </div>
        </div>
    </div>
</template>

<script>
import * as apiAuth from "@api/auth"
import {formErrorHandlerMix} from "@mixins";
import { mapMutations } from 'vuex'
import {SET_JWT_TOKEN} from "@store/action_types";
import auth from '@utils/auth'

export default {
    name: "Login",
    mixins: [formErrorHandlerMix],
    data() {
        return {
            form: {
                email: '',
                password: ''
            },
            isInvalid: false,
            message: ''
        }
    },
    methods: {
        ...mapMutations({
           setJWTToken: `user/${SET_JWT_TOKEN}`
        }),
        handleLogin() {
            apiAuth.login(this.form).then(({data}) => {
                if (data.message) {
                    this.isInvalid = true
                    this.message = data.message
                    return
                }
                this.setJWTToken(data)
                auth.login()
                this.$router.replace({ path: '/' })
            }).catch((err) => {
                console.log(err)
                this.setFormErrors(err.response.data)
            })
        }
    }
}
</script>
